/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

/* Colors */
// $body-bg: #191919;
// $body-color: #fff;
// $link-color: #42affa;
// $presentation-heading-color: #383d3d !default;

/* Font families */
// 'simple' theme default fonts:
//      content: Lato
//      headings: News Cycle 
// $font-family-sans-serif: "Source Sans Pro", sans-serif !default;
// $presentation-heading-font: "News Cycle", sans-serif !default;

/* Font sizes */
$presentation-font-size-root: 50px; // default: 40px
$code-block-font-size: 0.8em;

/*-- scss:rules --*/

.reveal {
    #title-slide {
        .title {
            color: rgb(25, 124, 131);
        }

        .subtitle {
            font-style: italic;
        }

        .author {
            font-style: italic;
        }

        .date {
            font-style: italic;
        }

        .footer {
            display: none;

        }
    }

    .slide.exercise {
        li {
            // color: rgb(26, 141, 161) !important;
            // font-variant: small-caps;
            // font-style: italic;

            // code {
            //     font-style: normal;
            // }
        }
    }

    .slide {

        .shutter {
            width: 100%;
            height: 10000px;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #ccc;
            border-radius: 10px;
            box-shadow: 0px 10px 20px 10px rgb(0 0 0 / 0.2);
        }

        .arrow-pointer {
            font-size: 400%;
            color: red;
        }

        .before-1em {
            margin-top: 1em;
        }

        .myinfo,
        .todo,
        .warning {
            margin: 1em 0;
            padding: 0.5em 1em;
            border-radius: 50px;
            font-style: italic;

            p {
                display: inline-block;
            }

            &:before {
                font-style: normal;
                display: inline-block;
            }
        }

        .myinfo {
            color: rgb(8, 68, 60);
            background-color: rgb(216, 236, 225);

            &:before {
                content: "🚀 ";
            }
        }

        .todo {
            color: rgb(204, 0, 194);
            background-color: rgb(233, 207, 236);

            &:before {
                font-weight: bold;
                content: "Todo: ";
            }
        }

        .warning {
            color: #c00;
            background-color: rgb(236, 207, 207);

            &:before {
                content: "⚠ ";
            }
        }

        div.sourceCode {
            margin: 0.1em 0 0.25em;

            pre {
                padding-top: 0.5em;
            }
        }

        code {
            display: inline-block;
            padding: 0 0.25em;
            margin: 0 0.25em;
            background-color: #f4e7c9;
            color: #282828;
        }

        // pre.plaintext code {
        //     background-color: #282828;
        //     color: #f4e7c9;
        // }

        h2+div.sourceCode {
            margin-top: 1em;
        }

        .rounded-corners {
            border-radius: 100%;
        }

        .table {
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .column.git-slovnik {
            font-size: 90%;
        }

        .fontsize-070 {
            font-size: 70%;
        }

        .fontsize-075 {
            font-size: 75%;
        }

        .fontsize-080 {
            font-size: 80%;
        }

        .fontsize-090 {
            font-size: 90%;
        }

        .center {
            text-align: center;
        }

        .right {
            float: right;
        }

        .width-050 img {
            width: 50%;
        }

        .width-060 img {
            width: 60%;
        }

        .width-070 img {
            width: 70%;
        }

        .width-080 img {
            width: 80%;
        }

        .width-090 img {
            width: 90%;
        }

        .width-100 img {
            width: 100%;
        }
    }
}